root = "/home/<%= fetch(:user) %>/apps/<%= fetch(:application) %>/current"
working_directory root
pid "#{root}/tmp/pids/unicorn.pid"
stderr_path "#{root}/log/unicorn.log"
stdout_path "#{root}/log/unicorn.log"

listen "/tmp/unicorn.<%= fetch(:application) %>.sock"
worker_processes 1
timeout 30
preload_app true
